<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side">
        Sidenav
        <button mat-button (click)="onClick">Tower</button>
        <button mat-button (click)="onClick">Forest</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <div class="container">
                <span>{{location}}</span>
            </div>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>