<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true">
        <h2>Locations</h2>
        <mat-list>
            <mat-list-item>
                <button mat-raised-button>Tower</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-raised-button>Forest</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-toolbar>Forest</mat-toolbar>
</mat-sidenav-container>