$forest-theme-primary: mat-palette($mat-green);
$forest-theme-accent: mat-palette($mat-brown);
$forest-theme-warn: mat-palette($mat-yellow);

$forest-theme: mat-dark-theme(
    $forest-theme-primary,
    $forest-theme-accent,
    $forest-theme-warn
);

.forest-theme{
  @include angular-material-theme($forest-theme);
}

$tower-theme-primary: mat-palette($mat-purple);
$tower-theme-accent: mat-palette($mat-blue);
$tower-theme-warn: mat-palette($mat-yellow);

$tower-theme: mat-dark-theme(
    $tower-theme-primary,
    $tower-theme-accent,
    $tower-theme-warn
);

.tower-theme{
  @include angular-material-theme($tower-theme);
}